body{
    line-height: 1.5;
    margin: 0;
}

h1{
    margin: 0;
}

h2{
    background-color: #212530;
    display: inline-block;
}

header{
    background-color: #171b26;
    color: white;
}

main{
    background-color: white;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.sidebar{
    width: 300px;
    background-color: #212530;
    padding: 10px 0;
    float: left;
}

.sidebar img{
    width: 100%;
}

.content{
    float: left;
    width: 500px;
    padding: 50px 50px;
    box-sizing: border-box;

}

.clearfix{
    content: "";
    clear: both;
    display: table;
}

.button{
    margin-top: 3rem;
    size: b5;
}
 .mt-2{
    margin-left: 100%;
    float: top;
    width: 400px;
    padding: 0px 0px;
    box-sizing: border-box;
 }
form {
    display: block;
    margin-top: 0rem;
    padding-left: 3rem;
    margin: 1rem;
 }
.button-1{
    padding-left: 3rem;
    margin: 1rem;
}

.button-1 {
    width: 100%;
    text-align: center;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
}

